a {
    text-decoration: none;
}

/* حالت استیکی فقط در دسکتاپ باشه */
.custom-sticky {
  position: static;
}

@media (min-width: 768px) {
  .custom-sticky {
    position: sticky;
    top: 1rem;
    height: fit-content;
  }
}


/* ul {
    list-style-type: none;
}

nav {
    direction: text-end;
} */

