body {
    font: 1.1rem Arial;
    margin: 0rem 4rem;
    /* background: linear-gradient(90deg, rgba(255, 245, 225, 1) 0%, rgba(168, 154, 128, 1) 100%); */
    background-color: #d8d1e8;
}

a {
    text-decoration: none;
    color: #023769;
}

ul {
    list-style-type: none;
}

.menu {
    float: left;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font: bold 100% Arial;
}

main {
    color: #023769;
    padding: 13px;
    display: inline-block;
    float: left;
}

.menu:hover {
    border: 1px solid;
    border-radius: 10px;
}

.gotol{
    margin: 4px;
}

.gotol:hover {
    border-bottom: 1px solid;
    transition: border-bottom 0.1s ease;
}

li:active {
    background-color: #a78cdb;
}

.goto {
    display: inline-block;
    float: left;
    position: fixed;
    padding-left: 0px;
}

::selection {
    background-color: #8FBC8F;
}


p {
    line-height: 2.5rem;
}

aside>ul>li {
    padding: 15px;
    text-align: left;
    font: bold 100% Arial;
    margin: 30px;
}

section {
    background-color: #e4e1eb;
    padding: 15px;
}

nav>ul {
    background-color: #ffbdc7;
}



