body {
    font: 1.1rem Arial, sans-serif;
    background-color: #d8d1e8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; /* Ensure full viewport height */
    margin: 0;
}

#lang-header {
    background-color: #e4e1eb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#lang-header>nav>a {
    padding: 5px;
}

#lang-header>nav>a:hover {
    border-bottom: 1px solid;
    transition: border-bottom 0.1s ease;
}

a {
    text-decoration: none;
    color: #023769;
}

ul {
    list-style-type: none;
    padding: 4%;

}

.menu {
    float: left;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font: bold 100% Arial;
}

.menu2 {
    float: left;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font: bold 100% Arial;
}

main {
    color: #023769;
    padding: 13px;
    float: left;
}

.menu:hover {
    border: 1px solid;
    border-radius: 10px;
}

.gotol{
    margin: 4px;
}

.gotol:hover {
    border-bottom: 1px solid;
    transition: border-bottom 0.1s ease;
}

li:active {
    background-color: #a78cdb;
}

.goto {
    display: inline-block;
    position: fixed;
    padding-left: 0px;
}

::selection {
    background-color: #8FBC8F;
}


p {
    line-height: 2.5rem;
}

aside>ul>li {
    padding: 15px;
    text-align: left;
    font: bold 100% Arial;
    margin: 30px;
}

section {
    background-color: #e4e1eb;
    padding: 15px;
}

nav>ul {
    background-color: #e4e1eb;
}



