{% extends "layout.html" %}

{% block body %}

    <header>
        {% if lang == 'per' %}<nav>
            <ul>
                <li class="menu2" title="صفحه اصلی"><a href="">صفحه اصلی</a></li>
                <li class="menu2" title="پروژه ها"><a href="#">پروژه ها</a></li>
                <li class="menu2"><a href="https://www.linkedin.com/in/marjan-aliyari/"><i class="fa fa-linkedin"></i></a></li>
                <li class="menu2"><a href="#"><i class="fa fa-paper-plane"></i></a></li>
                <li class="menu2"><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </nav>
        {% else %}<nav>
            <ul>
                <li class="menu" title="Home"><a href="">Home</a></li>
                <li class="menu" title="Projects"><a href="#">Projects</a></li>
                <li class="menu" title="Linkedin"><a href="https://www.linkedin.com/in/marjan-aliyari/"><i class="fa fa-linkedin"></i></a></li>
                <li class="menu" title="Telegram"><a href="#"><i class="fa fa-paper-plane"></i></a></li>
                <li class="menu" title="Instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </nav>
        {% endif %}
    </header><br><br><br>

    {% if lang == 'per' %}<main>
        <h1>سلام <span>مرجان علی یاری</span> هستم!</h1>
        <section class="sec2">
            <article>
                <header>
                    <h2 id="link1">About me</h2>
                </header>
                <p>I was born on December 18, 2000, in Iran. </p>
            </article>
            <article>
                <header>
                    <h2 id="link2">Education</h2>
                </header>
                <p>Islamic Azad University Central Tehran Branch <br> Bachelor, Food Science and Engineering · (2019 - 2023)</p>
            </article>
            <article>
                <header>
                    <h2 id="link3">CS courses</h2>
                </header>
                <p>....</p>
            </article>
            <article>
                <header>
                    <h2 id="link4">Skills</h2>
                </header>
                <p>Raman Spectroscopy<br>
                    Adaptability<br>
                    Active listening<br>
                    Teamwork<br>
                    Self Learning<br>
                    Computer literacy<br>
                    Excel<br>
                    Word<br>
                    PowerPoint<br>
                </p>
            </article>
            <article>
                <header>
                    <h2 id="link5">Languages</h2>
                </header>
                <p>Persian (Native)<br>
                    English (Limited Working)<br>
                </p>
            </article>
        </section>
    </main>

        {% else %}<main>
        <h1>Hi, It's <span>Marjan AliYari</span>!</h1>
        <section>
            <article>
                <header>
                    <h2 id="link1">About me</h2>
                </header>
                <p>I was born on December 18, 2000, in Iran. </p>
            </article>
            <article>
                <header>
                    <h2 id="link2">Education</h2>
                </header>
                <p>Islamic Azad University Central Tehran Branch <br> Bachelor, Food Science and Engineering · (2019 - 2023)</p>
            </article>
            <article>
                <header>
                    <h2 id="link3">CS courses</h2>
                </header>
                <p>....</p>
            </article>
            <article>
                <header>
                    <h2 id="link4">Skills</h2>
                </header>
                <p>Raman Spectroscopy<br>
                    Adaptability<br>
                    Active listening<br>
                    Teamwork<br>
                    Self Learning<br>
                    Computer literacy<br>
                    Excel<br>
                    Word<br>
                    PowerPoint<br>
                </p>
            </article>
            <article>
                <header>
                    <h2 id="link5">Languages</h2>
                </header>
                <p>Persian (Native)<br>
                    English (Limited Working)<br>
                </p>
            </article>
        </section>
    </main>
    {% endif %}

    <aside class="goto">
        <ul>
            <li class="gotol"><a href="#link1">About me</a></li>
            <li class="gotol"><a href="#link2">Education</a></li>
            <li class="gotol"><a href="#link3">CS courses</a></li>
            <li class="gotol"><a href="#link4">Skills</a></li>
            <li class="gotol"><a href="#link5">Languages</a></li>
        </ul>
    </aside>

    <footer>
    <!-- <ul>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-paper-plane"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul> -->
    </footer>

{% endblock %}
