{% extends "layout.html" %}

{% block body %}

    {% if lang == 'fa' %}

        <header class="container-fluid">
            <nav>
                <ul class="nav flex-wrap justify-content-end align-items-center">
                    <li class="nav-item min-width-150" title="اینستاگرام"><a class="nav-link d-block text-center" href="https://instagram.com/marjan_79"><i class="fa-brands fa-square-instagram fa-2x"></i></a></li>
                    <li class="nav-item min-width-150" title="لینکداین"><a class="nav-link d-block text-center" href="https://www.linkedin.com/in/marjan-aliyari/"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                    <li class="nav-item min-width-150" title="گیتهاب"><a class="nav-link d-block text-center" href="https://github.com/MarjanCode"><i class="fa-brands fa-square-github fa-2x"></i></a></li>
                    <li class="nav-item min-width-150" title="تلگرام"><a class="nav-link d-block text-center" href="https://t.me/Marjan_AY"><i class="fa-brands fa-telegram fa-2x"></i></a></li>
                    <li class="nav-item" title="صفحه اصلی"><a class="nav-link" href=""><h1 class="display-3 display-md-1">مرجان علی یاری</h1></a></li>
                </ul>
            </nav> 
        </header>
        <div class="container-fluid text-end text-break pt-4">
            <div class="row">
                <main class="col-12 col-md-8">
                    <section dir="rtl">
                        <article>
                            <header><h3 id="link1">مهارت ها</h3></header>
                            <p>
                                پایتون و C (پایه)، جنگو، جنگو رست، فلسک، جینجا<br>
                                Bootstrap ،CSS ،HTML<br>
                                گیت، گیتهاب<br>
                                کار تیمی<br>
                                خودآموزی<br>
                            </p>
                        </article>
                        <article>
                            <header><h3 id="link2">دوره ها</h3></header>
                            <p>بوتکمپ توسعه بک ‌اند وب در استارکوچ</p>
                            <p>CS50: Introduction to Computer Science</p>
                        </article>
                        <article>
                            <header><h3 id="link3">تحصیلات</h3></header>
                            <p>دانشگاه آزاد واحد تهران مرکزی<br> کارشناسی، مهندسی صنایع غذایی (۱۴۰۲ - ۱۳۹۸)</p>
                        </article>
                        <article>
                            <header><h3 id="link4">زبان ها</h3></header>
                            <p>انگلیسی (مطالعه مستندات فنی)</p>
                        </article>
                    </section>
                </main>

                <aside class="col-12 col-md-4 custom-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#link1">مهارت ها</a></li>
                        <li class="nav-item"><a class="nav-link" href="#link2">دوره ها</a></li>
                        <li class="nav-item"><a class="nav-link" href="#link3">تحصیلات</a></li>
                        <li class="nav-item"><a class="nav-link" href="#link4">زبان ها</a></li>
                    </ul>
                </aside>
            </div>
        </div>

    {% else %}

        <header class="container-fluid">
            <nav>
                <ul class="nav flex-wrap justify-content-start align-items-center">
                    <li class="nav-item" title="Home"><a class="nav-link" href=""><h1 class="display-3 display-md-1">Marjan AliYari</h1></a></li>
                    <li class="nav-item min-width-150" title="Telegram"><a class="nav-link d-block text-center" href="https://t.me/Marjan_AY"><i class="fa-brands fa-telegram fa-2x"></i></a></li>
                    <li class="nav-item min-width-150" title="GitHub"><a class="nav-link d-block text-center" href="https://github.com/MarjanCode"><i class="fa-brands fa-square-github fa-2x"></i></a></li>
                    <li class="nav-item min-width-150" title="Linkedin"><a class="nav-link d-block text-center" href="https://www.linkedin.com/in/marjan-aliyari/"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                    <li class="nav-item min-width-150" title="Instagram"><a class="nav-link d-block text-center" href="https://instagram.com/marjan_79"><i class="fa-brands fa-square-instagram fa-2x"></i></a></li>
                </ul>
            </nav>
        </header>
        <div class="container-fluid text-start text-break pt-4" dir="rtl">
            <div class="row">
                <main class="col-12 col-md-8">
                    <section dir="ltr">
                        <article>
                            <header><h3 id="link1">Skills</h3></header>
                            <p>
                                Python & C (Basics), Django, DRF, Flask, Jinja <br>
                                HTML, CSS, Bootstrap<br>
                                Git, GitHub<br>
                                Teamwork<br>
                                Self Learning<br>
                            </p>
                        </article>
                        <article>
                            <header><h3 id="link2">Courses</h3></header>
                            <p>Backend Web Development Bootcamp at Starcoach</p>
                            <p>CS50: Introduction to Computer Science</p>
                        </article>
                        <article>
                            <header><h3 id="link3">Education</h3></header>
                            <p>Islamic Azad University Central Tehran Branch <br> Bachelor, Food Science and Engineering (2019 - 2023)</p>
                        </article>
                        <article>
                            <header><h3 id="link4">Languages</h3></header>
                            <p>Persian (Native)<br>English (Reading technical documentation)<br></p>
                        </article>
                    </section>
                </main>

                <aside class="col-12 col-md-4 custom-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="#link1">Skills</a></li>
                        <li class="nav-item"><a class="nav-link" href="#link2">Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="#link3">Education</a></li>
                        <li class="nav-item"><a class="nav-link" href="#link4">Languages</a></li>
                    </ul>
                </aside>
            </div>
        </div>

    {% endif %}


{% endblock %}
